.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(14, 10, 10);
    color: aliceblue;
    padding-bottom: 2rem;
    text-align: center;
    border-bottom: 2px solid rgb(175, 6, 6);
    padding-inline: 1.5rem;
    overflow: hidden;
    
    /* aula 14 */

}